body{
	background-color: rgb(201, 238, 143);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	font-family: Times New Roman;
	font-size: 16px;
}
.anakayam{
	padding: 20px;
	width: 350px;
	background-color: rgb(243, 245, 151);
	border: rgb(246, 241, 89)1px;
	border-radius: 10px;
	margin: 5px
}
img{
	height: 120px;
	weight: 70px;
}
p{
	font-family: Times New Roman;
	font-size: 24px;
	color: white;
}
input{
	width: 80%;
	padding: 10px;
	margin: 5px 0;
	box-sizing: border-box;
	border-radius: 5px;
}
button{
	width: 40%;
	padding: 10px;
	margin: 5px 0;
	box-sizing: border-box;
	border-radius: 5px;
}
